
.login-bg {
    width: 100%;
    background-image: url('../../assets/images/login-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-card {
    width: 420px;
    padding: 3%;
    height: fit-content;
    border: 3px solid #C29C6D;
    border-radius: 15px;
    backdrop-filter: blur(5px); /* Controls the amount of blur */
}

.form-group-login {
    margin: 3% 5%;
}

.form-control {
    width: 100%;
    margin: 1% 0%;
    font-size: 15px;
    padding: 2% 0%;
    border-radius: 5px;
    border: 0;
    text-align: center;
}

.login-btn {
    width: 100%;
    margin-top: 3%;
    border-radius: 5px;
    border: 0;
    padding: 2% 0%;
    background-color: #0077b6;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
}